<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cliente">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <activity android:name=".DetallePedidoActivity" />
        <activity android:name=".ConfirmarPedidoActivity" />
        <activity android:name=".MiPedidoActivity" />
        <activity android:name=".DetalleProductoActivity" />
        <activity android:name=".Model.ItemListCategoria" />
        <activity android:name=".MostrarProductosTienda" />
        <activity android:name=".Model.ItemListEsta" />
        <activity android:name=".EsctablecimientosActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmzK5N98ff9GE5h22MpKtGwlb0gx-r15Q" />

        <activity
            android:name=".MenuInicioActivity"

            android:label="@string/title_activity_menuinicio"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".VerificarActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>